.chat-console {
    background-color: $black;
    border-radius: 5px;
    white-space: pre;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__header {
        width: 100%;
        height: 30px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: $light-gray2;

        
    }

    &__code {
        padding: 10px;
    }

    &__btn_copy {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;

        .copy-svg {
            width: 18px;
            height: 18px;
            fill: $white;
        }
    }
}