$white: #F2F2F2;
$black: #23272e;
$dark-blue: #08283E;
$light-green: #74aa9c;
$light-green_hover: #81b4a7;


$main-gray: #2E3440;
$light-gray: #3B4252;
$light-gray_hover: #434C5E;
$light-gray2: #4C566A;
$light-gray2_hover: #5d6679;
$green: #486e65