@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

a, a:visited, a:active {
    text-decoration: none;
    outline: none;
}

:root {
    --vh: 1vh;
}

html,body, #root {
    height: 100%;
}

.wrapper {
    // height: calc(var(--vh, 1vh) * 100);
    height: 100%;
    width: 100vw;
    background-color: $main-gray;
    // overflow: hidden;

    *::-webkit-scrollbar {
        width: 7px;
        height: 7px;

        &-thumb {
            background: $light-gray2;
            border-radius: 5px;
            margin-right: 2px;
            
            &:hover {
                background: #c6c6c6;
            }
        }
    }
}

pre {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
